<html>
	<head>
	
		<title>Dota 2 Year Beast 2015</title>

		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

		<link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
		<link href='test.css' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="test.js"></script>
		<style>

		#content {
			width: 900px;
			margin: 40px auto 10px;
			text-align: center;
			font-family: 'Headland One', serif;
		}

		#content h1 {
			border-bottom: 1px solid #777;
		}

		#content ul {
			margin-left: 0;
		}

		#content ul li {
			list-style-type: none;
		}

		#content a, #content a:visited {
			text-decoration: none;
			color: #FA5300;
		}

		#footer {
			color #777;
			font-size: 0.8em;
		}

		</style>
	</head>
	<body>

		<div id="content">

			<h1>Hello there, year beast is here</h1>

			<h2>Next Appearance Speculation</h2>

			<div id="holder">
				<div id="timer">
					<div id="note"></div>
					<div id="countdown">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="day1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="day2">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="day3">
						<img height=21 id="colon1" src="digital-numbers/colon.png" width=9 name="d1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="h1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="h2">
						<img height=21 id="colon2" src="digital-numbers/colon.png" width=9 name="g1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="m1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="m2">
						<img height=21 id="colon3" src="digital-numbers/colon.png" width=9 name="j1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="s1">
						<img height=21 src="digital-numbers/bkgd.gif" width=16 name="s2">
						<div id="title">
							<div class="title" style="position: absolute; top: 36px; left: 42px">DAYS</div>
							<div class="title" style="position: absolute; top: 36px; left: 105px">HRS</div>
							<div class="title" style="position: absolute; top: 36px; left: 156px">MIN</div>
							<div class="title" style="position: absolute; top: 36px; left: 211px">SEC</div>
						</div>
					</div>
				</div>
			</div>

			<h2>Sighting History</h2>
			<div>
				<ul>
					<li><a href="http://www.timeanddate.com/worldclock/fixedtime.html?iso=20150213T183000&p1=64">Feb 13, 2015 - 6:30 PM CST</a></li>
					<li><a href="http://www.timeanddate.com/worldclock/fixedtime.html?iso=20150213T144500&p1=64">Feb 13, 2015 - 2:45 PM CST</a></li>
					<li><a href="http://www.timeanddate.com/worldclock/fixedtime.html?iso=20150213T144500&p1=64">Feb 13, 2015 - 2:45 PM CST</a></li>
				</ul>
			</div>

			<h2>Useful Links</h2>
			<div>
				<ul>
					<li><a href="http://dota2.gamepedia.com/New_Bloom_Festival_2015">Complete New Bllom 2015 information on Dota 2 Wiki</a></li>
					<li><a href="http://www.reddit.com/r/DotA2/comments/2vkmws/year_beast_info/">Year Beast Info by SirBelvedere</a></li>
					<li><a href="http://steamstat.us/">Steam Services Status</a></li>
				</ul>
			</div>

			<div id="footer">Powered by Penguin Machine 3.1.0</div>

		</div>
	</body>
</html>